* {
    box-sizing: border-box;
  }

  body{
      animation: fade-slide-down 2s ease-out forwards;
      background: url(ProjectBackground.jpg) no-repeat;
        background-size: cover;
      
  }
  /* Animations */
  @keyframes fade-slide-down{
      0%{
          opacity: 0;
          transform: translate(-4rem);
      }
      100%{
          opacity:1 ;
          transform: none;
      }
  }

  h1{
    text-align: center;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 5px 5px 10px rgb(5, 5, 5);
    color: rgb(236, 97, 16); 
    
  }

  .hidden {
    display: none;
    
  }