.lity-iframe-container{
  padding-top:0;
  height:80vh;
}

* {
box-sizing: border-box;
}

body{
background-image: url(ProjectBackground.jpg); background-repeat: no-repeat;
background-size: cover;
overflow:hidden;
margin:0;
text-align: center;
}
#scroller{
  overflow-y:scroll;    
}

.ingredients-list {
overflow:hidden;
max-height:0px;
transition: all .5s;
}

.ingredients-list-visible{
  max-height:2000px;
}


.wrapper{
display:flex;
flex-direction:column;
height:100vh;

}

.box{
flex:1;

}

.box-fixed{
flex:none;
}

.box-expanding{
overflow-y: auto;
}

h1{
margin: 0;
font-family: 'Special Elite', cursive , sans-serif;
text-shadow: 5px 5px 10px rgb(96, 189, 240);
}
@keyframes colorChange {
  0%   {background-color: #edf3f8b9;}
  25%  {background-color: #d1dfe4a8;}
  50%  {background-color: #b7c7cab2;}
  100% {background-color: #ecf5f5c2;}
}

label{
font-family: 'Lilita One', cursive;
font-weight:900;
font-size: 30px;
width: 2em;
line-height: 1.5em;
}
::placeholder {
  color:#cbd0d5;
  text-align: center;
}
.userInput:hover{
  border-color:blue;
}
.userInput{
  border: 2px outset;
  border-radius: 9999em;
  width: 200px;
  height: 30px;
  padding-bottom: 2%;
  font-family: 'Lilita One', cursive;
  font-size: 2vw;
  text-align: center;
}
.blue{
color: rgb(39, 39, 245);
text-shadow: 2px 2px black;
}
form{
padding-bottom: 10px;
box-shadow: 5px 10px rgb(111, 110, 110);
}
#js-form{
  background-color: linear-gradient(21deg, #10abff, #1beabd);
  background-image:url(white-cloud-background-8.jpg);
  border-radius: 9999em;
  background-position: center bottom;
  animation: animatedBackground 10s linear infinite;
  /* Safari and Chrome: */
  -webkit-animation: animatedBackground 10s linear infinite;
}
@keyframes animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}
@-webkit-keyframes  animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}

#first{
margin-bottom: 2%;
padding-right: 2%;
 display: inline-block;
}
#second{
padding-top: 2%;
padding-left: 2%;
 display: inline-block;
}


#search-output{
  margin: 0 auto;
  max-width:100%;
  background-image: linear-gradient(to bottom, #f5f5f5bd, #f1f1f2, #ecedf0, #e7eaed, #e1e6ea);
  

}

#resultsSection {
  margin: 0 auto;
  max-width:100%;
  /* background: #f1f1f2; */
  
 
}

.card{
  margin:1em;
  border-radius:1em;
  background:#eee;
  -webkit-box-shadow: 9px 10px 21px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 21px -4px rgba(0,0,0,0.75);
box-shadow: 9px 10px 21px -4px rgba(0,0,0,0.75);
}

div.result{
 background-size: 80%;
 height:100vw;  
 margin: 0;
 background-repeat: no-repeat;
background-position: center;
display:block;
}
.refreshMe{
  display: block;
    margin: 0 auto;
    width: 30%;
    height: 30px;
    font-size: 15px;
    font-family: Helvetica;
    border-bottom: 5px solid steelblue;
    border-top: none;
    border-left: none;
    border-right: none;
    background: linear-gradient(#5FDDFF,#53ADDF);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    transition: 150ms ease;
    font-weight: bold;
  }
  
  input[type="reset"]:active{
    border: none;
    border-bottom: 2px solid steelblue;
    box-shadow: 0px 1px 5px grey;
    background: linear-gradient(#53AFFF,#5FCDFF);
    color: #FFF;
}
h2{
  text-shadow: 5px 5px 10px white;
}

#resultsHeader{

line-height: 2em;
font-family: 'Special Elite', cursive, sans-serif;
flex:none;
background-color: linear-gradient(21deg, #10abff, #1beabd);
background-image:url(white-cloud-background-8.jpg);
border-radius: 9999em;
background-position: center bottom;
animation: animatedBackground 10s linear infinite;
/* Safari and Chrome: */
-webkit-animation: animatedBackground 10s linear infinite;
}
@keyframes animatedBackground 
{
from { background-position: 0 100%; }
to { background-position: 100% 100%; }
}
@-webkit-keyframes  animatedBackground 
{
from { background-position: 0 100%; }
to { background-position: 100% 100%; }

}

strong{
color: rgb(241, 149, 106);
}
.urlInfo{
padding-top: 20%;
}

#submitButton{
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 50px;
    font-size: 20px;
    font-family: Helvetica;
    border-bottom: 5px solid steelblue;
    border-top: none;
    border-left: none;
    border-right: none;
    background: linear-gradient(#5FDDFF,#53ADDF);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    transition: 150ms ease;
    font-weight: bold;
  }
  
  input[type="submit"]:active{
    border: none;
    border-bottom: 2px solid steelblue;
    box-shadow: 0px 1px 5px grey;
    background: linear-gradient(#53AFFF,#5FCDFF);
    color: #FFF;
  }


/*The Responsive Design...*/
@media only screen and (min-width:768px){
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.wrapper{

max-width:100%;


}

/* .grid .result .urlInfo .description{
  grid-column-end: span 1;
  grid-row-end: span 3;
}*/
}
@media screen and (min-width:1024px){
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
}




